body{
  margin: 0;

text-align: center;
color:#40514e;
font-family: sans-serif;

}

h1{

  margin:50px auto 0 auto;
  color: #66BFBF;

  font-size: 5.625rem;
font-family: 'Sacramento',sans-serif;
line-height: 2;

}
h2{
  font-size: 2.5rem;
  font-weight:normal;
  color: #66BFBF;
  font-family: Montserrat,sans-serif;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
}
/* div{
background-color:#68bfbf;


} */
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);

  text-decoration: none;
}

.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.computer{
  width:25%;
  float: left;
  margin-right: 30px;
}
.chillies{
  width:25%;
  float: right;
  margin-left: 30px;
}

.topcontainer{
  background-color: #Eaf6f6;
position: relative;
padding-top: 100px;
height: 100;
width: 100;
}

.top-cloud{

  position: absolute;
  right:  300px;
  top: 40px;

}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.footer-link{
  color: #11999E;
}
.bottom-container{
background-color: #66BFBF;
  padding:50px 0 20px;
}
.middle-container{
  margin:100px 0;
}
.intro{
  width:20%;
  margin:auto;
}
p{
  line-height: 2;
  padding: 10px;
  text-align: center;
  margin-left: 100px;
}
hr{
  border:dotted #Eaf6f6 6px;
  border-bottom: none;
  width: 4%;

}

.contact-msg{
  width: 30%
  margin 40px auto 60px auto;
}
.copy-right{
  color: #EAF6f6;
  font-size: 0.75rem;
  padding:30px 0;
}
a{
  color:#11999E;
  font-family: Montserrat;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6f6;
}
